---
layout: base.njk
title: Ortiz started
---

{# {% import "partial/partial.njk" as macro %} #}

<p>Ortiz started template</p>
{# {{
  macro.partialName({
      img: "./assets/images/avatar-jessica.jpeg",
     
  })
}} #}
