:root {
  --container-width: 20.4375rem;
  --container-padding: 24px;
  --container-desktop-width: 46rem;
  --font-family: outfit, sans-serif;
  --space-xl: 2.5rem;
  --space-lg: 2rem;
  --space-md: 1.5rem;
  --space-sm: 1rem;
  --space-xs: 0.75rem;
  --base: rgb(95, 87, 78);
  --accent: hsl(332, 51%, 32%);
  --background-accent: hsl(330, 100%, 98%);
  --background: hsl(0, 0%, 100%);
  --background-page: hsl(30, 54%, 90%);
  --primary: rgb(133, 70, 50);
  --title: hsl(15, 4%, 18%);
  --title-accent: hsl(332, 51%, 32%);
  --title-font-family: youngserif, sans-serif;
  --title-font-size: 2.25rem;
  --title-desktop-font-size: 2.5rem;
  --title-weight: 400;
  --title-line-height: 1;
  --title-letter-spacing: 0;
  --body-font-size: 1rem;
  --body-weight: 400;
  --body-line-height: 1.5;
  --body-letter-spacing: 0;
  --body-bold-weight: 700;
  --title-primary-family: youngserif, sans-serif;
  --title-primary-size: 1.75rem;
  --title-primary-weight: 400;
  --title-primary-line-height: 1;
  --title-primary-letter-spacing: 0;
  --title-accent-size: 1.25rem;
  --title-accent-weight: 600;
  --title-accent-line-height: 1;
  --title-accent-letter-spacing: 0;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
/* stylelint-disable */
#root,
#__next {
  isolation: isolate;
}

/* stylelint-enable */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@font-face {
  font-family: YoungSerif;
  font-display: swap;
  src: url("fonts/young-serif/YoungSerif-Regular.ttf");
}
@font-face {
  font-family: outfit;
  font-display: swap;
  src: url("fonts/outfit/Outfit-VariableFont_wght.ttf");
}
.container {
  font-family: var(--font-family);
  color: var(--base);
  font-size: var(--body-font-size);
  font-weight: var(--body-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
}

.footer {
  margin-block-start: var(--space-xl);
}

.separator {
  border: 1px solid rgb(228, 222, 216);
}

.recipe-container {
  background-color: var(--background);
}

.recipe {
  padding-block: var(--space-xl);
  padding-inline: var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.preparation {
  padding: var(--space-md);
  background-color: var(--background-accent);
  border-radius: var(--space-xs);
}

.preparation__list--item,
.ingredients__list--item,
.instructions__list--item {
  margin-block-end: var(--space-xs);
  padding-left: var(--space-xs);
}

.preparation__list--item::marker {
  color: var(--title-accent);
  font-size: var(--body-font-size);
  font-weight: var(--body-bold-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
}

.ingredients__list--item::marker,
.instructions__list--item::marker {
  color: var(--primary);
  font-size: var(--body-font-size);
  font-weight: var(--body-bold-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
}

.header {
  margin-block-start: 0;
}

.art__img {
  object-fit: cover;
}

.nutrition {
  margin-block-end: 0;
}

.nutrition__table {
  margin-block-start: var(--space-md);
  border-collapse: collapse;
  inline-size: 100%;
}

.nutrition__table--row:first-child {
  padding-top: 0;
}
.nutrition__table--row:last-child {
  padding-bottom: 0;
  border: 0;
}

.nutrition__table--row--cal {
  padding: var(--space-xs);
}

.nutrition__table--row--val {
  color: var(--primary);
  font-size: var(--body-font-size);
  font-weight: var(--body-bold-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
}

.header__title {
  font-size: var(--title-font-size);
  font-weight: var(--title-weight);
  line-height: var(--title-line-height);
  letter-spacing: var(--title-letter-spacing);
  font-family: var(--title-font-family);
  color: var(--title);
  margin-block-end: var(--space-sm);
}

.ingredients__title,
.instructions__title,
.nutrition__title {
  font-size: var(--title-primary-size);
  font-weight: var(--title-primary-weight);
  line-height: var(--title-primary-line-height);
  letter-spacing: var(--title-primary-letter-spacing);
  font-family: var(--title-font-family);
  color: var(--primary);
  margin-block-end: var(--space-sm);
}

.preparation__title {
  font-size: var(--title-accent-size);
  font-weight: var(--title-accent-weight);
  line-height: var(--title-accent-line-height);
  letter-spacing: var(--title-accent-letter-spacing);
  font-family: var(--title-accent-family);
  color: var(--title-accent);
  margin-block-end: var(--space-xs);
}

@media screen and (width >= 600px) {
  :root {
    --title-font-size: var(--title-desktop-font-size);
  }
  .container {
    display: grid;
    place-items: center;
    padding: 2px;
    background-color: var(--background-page);
  }
  .art {
    padding: var(--space-xl) var(--space-xl) 0 var(--space-xl);
  }
  .art__img {
    border-radius: var(--space-md);
  }
  .recipe-container {
    border-radius: var(--space-xl);
    max-inline-size: var(--container-desktop-width);
  }
  .recipe {
    padding-inline: var(--space-xl);
  }
}
.attribution {
  text-align: center;
}

.attribution__content {
  display: flex;
  flex-direction: column;
}

.attribution__content--fm,
.attribution__content--ortiz {
  color: var(--primary);
}
.attribution__content--fm:focus-visible,
.attribution__content--ortiz:focus-visible {
  text-decoration: none;
  outline-offset: 2px;
  outline: 2px solid var(--accent);
}
