:root {
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400..700&family=Young+Serif:wght@400&display=swap');
  font-family: 'Young Serif', serif;

  font-style: normal;
  font-size: 16px;
  --mx: 11%;

  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  color: var(--stone-600);
}

h2 {
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  color: var(--brown-800);
}
h1 {
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 2.1rem;
}
.preparation h2 {
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  color: var(--rose-800);
  font-size: 1rem;
}
.ingredients-list-items li::marker,
.instructions-list-items li::marker,
.cal {
  font-family: 'Outfit', sans-serif;

  color: var(--brown-800);
  font-weight: 700;
}

.preparation {
  background-color: var(--rose-50);
  border-radius: 20px;
  padding: 5px;
}

.preparation-list-items li::marker {
  color: var(--rose-800);
  font-weight: 700;
}

.preparation h2 {
  margin-left: 20px;
}
hr {
  border-top: 1px solid var(--stone-150);
}

main {
  background-color: var(--white);
  margin: 0 var(--mx);
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid var(--stone-100);
}
td {
  padding: 12px;
}

.art {
  width: 100%;
}

.nutrition p {
  font-size: 1.02rem;
}

footer {
  margin: 40px var(--mx);
}

footer a {
  text-decoration: none;
  color: var(--brown-800);
}
.container {
  background-color: var(--white);
}

@media screen and (min-width: 375px) {
  body {
    background-color: var(--stone-150);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    margin: var(--mx);
    border-radius: 20px;
    max-width: 600px;
  }

  .art-container {
    margin: var(--mx);
  }

  .art {
    border-radius: 20px;
  }
}
