main.recipe-container
  figure.art
    img.art__img(src='assets/images/image-omelette.jpeg', alt='Image omelette')
  .recipe
    section.header
      h1.header__title Simple Omelette Recipe
      p.header__description
        | An easy and quick dish, perfect for any meal. This classic omelette
        | combines beaten eggs cooked to perfection, optionally filled with
        | your choice of cheese, vegetables, or meats.
    section.preparation
      h2.preparation__title Preparation time
      ul.preparation__list
        li.preparation__list--item
          p
            strong Total:
            | Approximately 10 minutes
        li.preparation__list--item
          p
            strong Preparation:
            | 5 minutes
        li.preparation__list--item
          p
            strong Cooking:
            | 5 minutes
    section.ingredients
      h2.ingredients__title Ingredients
      ul.ingredients__list
        li.ingredients__list--item
          p 2-3 large eggs
        li.ingredients__list--item
          p Salt, to taste
        li.ingredients__list--item
          p Pepper, to taste
        li.ingredients__list--item
          p 1 tablespoon of butter or oil
        li.ingredients__list--item
          p
            | Optional fillings: cheese, diced vegetables, cooked meats, herbs
    section.instructions
      h2.instructions__title Instructions
      ol.instructions__list
        li.instructions__list--item
          p
            strong Beat the eggs:
            | In a bowl, beat the eggs with a
            | pinch of salt and pepper until they are well mixed. You can add
            | a tablespoon of water or milk for a fluffier texture.
        li.instructions__list--item
          p
            strong Heat the pan:
            | lace a non-stick frying pan over
            | medium heat and add butter or oil.
        li.instructions__list--item
          p
            strong Cook the omelette:
            | Once the butter is melted and
            | bubbling, pour in the eggs. Tilt the pan to ensure the eggs
            | evenly coat the surface.
        li.instructions__list--item
          p
            strong Add fillings (optional):
            | When the eggs begin to
            | set at the edges but are still slightly runny in the middle,
            | sprinkle your chosen fillings over one half of the omelette.
        li.instructions__list--item
          p
            strong Fold and serve:
            | As the omelette continues to
            | cook, carefully lift one edge and fold it over the fillings. Let
            | it cook for another minute, then slide it onto a plate.
        li.instructions__list--item
          p
            strong Enjoy:
            | Serve hot, with additional salt and
            | pepper if needed.
    hr.separator
    section.nutrition
      h2.nutrition__title Nutrition
      p.nutrition__description
        | The table below shows nutritional values per serving without the
        | additional fillings.
      table.nutrition__table
        tr.nutrition__table--row
          td.nutrition__table--row__cal Calories
          td.nutrition__table--row__val 277kcal
        tr.nutrition__table--row
          td.nutrition__table--row__cal Carbs
          td.nutrition__table--row__val 0g
        tr.nutrition__table--row
          td.nutrition__table--row__cal Protein
          td.nutrition__table--row__val 20g
        tr.nutrition__table--row
          td.nutrition__table--row__cal Fat
          td.nutrition__table--row__val 22g
