@use '../theme/theme';
@use '../theme/typography';
@use '../utils/variables';

@font-face {
  font-family: YoungSerif;
  font-display: swap;
  src: url('fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
  font-family: outfit;
  font-display: swap;
  src: url('fonts/outfit/Outfit-VariableFont_wght.ttf');
}

.container {
  font-family: #{var(--font-family)};
  color: #{theme.color('primary')};

  @include typography.size('body');
}

.footer {
  margin-block-start: #{var(--space-xl)};
}
